.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #009999;
  color: white; /* Witte tekstkleur */
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.App-container h1 {
  color: #171e22;
  font-size: 3em;
  margin-bottom: 20px;
}

.App-text {
  font-size: 1.2em;
  line-height: 1.5;
}
.App-logo {
  width: 40vb; 
  height: auto;
  margin-top: 20px;
}